<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="em.Device.sensor.mapper.DisplaysIndividualDeviceInfoMapper">
    <select id="selectIndividualDeviceInfo" resultType="em.Device.sensor.Dto.DeviceInfoDto">
        select *from db_cloud.device_info where deviceName=#{deviceName}
    </select>

    <update id="updateDeviceInfo">
        update db_cloud.device_info
        set addressId=#{addressId},functionId=#{functionId},
            startAddress=#{startAddress},dataLength=#{dataLength},dataStartLocation=#{dataStartLocation},
            dataLocationLength=#{dataLocationLength},samplingFormula=#{samplingFormula}
        where deviceName=#{deviceName}
    </update>
</mapper>