<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="em.Device.sensor.mapper.InsertDeviceInfoMapper">
    <insert id="insertDeviceInfo">
        insert into db_cloud.device_info values(#{deviceName},#{addressId},#{funcationId},#{startAddress},#{dataLength},#{dataStartLocation},#{dataLocationLength},#{samplingFormula});
    </insert>
</mapper>